<a href="https://colab.research.google.com/github/ricardooschutz/OpenData_TrabajoPractico/blob/main/OpenDataTP_WebProductScrap_RicardoSchutz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [90]:
url = 'https://www.roofingmegastore.co.uk/roofing-categories/pitched-roofing/roof-tiles.html'

In [91]:
#get request
response = requests.get(url)

In [92]:
#obtener estado
response.status_code

200

In [93]:
#objeto soup
soup = BeautifulSoup(response.content, 'html.parser')

In [ ]:
#llamada al contenido html
soup

In [45]:
#encontrar los resultados
results = soup.find_all('a',{'class':'product-list__link gtmTrack0020'})

In [95]:
len(results)

24

In [96]:
product_name = []
product_price = []
product_price_m2 = []
 
for i in range(1,16):
  #website
  website = 'https://www.roofingmegastore.co.uk/roofing-categories/pitched-roofing/roof-tiles.html?p=' + str(i)

  #request
  response = requests.get(url)

  #soup object
  soup = BeautifulSoup(response.content, 'html.parser')

  #results
  results = soup.find_all('a',{'class':'product-list__link gtmTrack0020'}) 

  #loop de resultados
  for result in results:

  #nombre del producto
    try:
      product_name.append(result.find('h4',{'class':'product-list__title'}).get_text())
    except:
      product_name.append('no disponible')

  #precio unitario

    try:
      product_price.append(result.find('p',{'class':'final-price__price'}).get_text())
    except:
      product_price.append('no disponible')

  #precio por m2
    try:
      product_price_m2.append(result.find('p',{'class':'m2-price__price'}).get_text())
    except:
      product_price_m2.append('no disponible')

##Crear data frame de pandas

In [97]:
product_overview = pd.DataFrame({'Nombre': product_name, 'Precio':  product_price, 'Precio por m2':  product_price_m2 })

In [98]:
product_overview

,Nombre,Precio,Precio por m2
0,Redland Renown Tile - Concrete Tile - Smooth S...,£2.45,£23.77
1,Marley Double Roman Concrete Roof Tiles (Pack ...,£63.67,no disponible
2,Redland Regent Tile - Concrete Tile - Smooth F...,£2.57,£24.93
3,Marley Acme Double Camber Clay Plain Tiles (Pa...,£13.33,no disponible
4,Sandtoft Neo Pantile - Clay Tile - Antique Slate,£3.48,no disponible
...,...,...,...
355,Britmet - Slate 2000 Plus - Lightweight Metal ...,£14.37,£31.18
356,Britmet - Ultratile Plus - Lightweight Metal R...,£14.37,£31.33
357,Britmet - Ultratile Plus - Lightweight Metal R...,£14.37,£31.33
358,Britmet - Villatile Plus - Lightweight Metal R...,£14.57,£32.78
359,Britmet - Profile 49 Plus - Lightweight Metal ...,£14.96,£31.12

##Guardar en un Excel

In [110]:
product_overview.to_csv('tejas_precios_inglaterra.csv')